/*-- scss:defaults --*/

// Colors
$dark-green: #4C7E6D;
$light-green: #6AAC96;
$white: #FFF;
$gray: #64605f;

// Base document colors
$navbar-bg: $white; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $light-green; // highlight color when hovering over navbar links
$link-color: $dark-green; // hyperlinks
